body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.container {
    display: flex;
    width: 90%;
    max-width: 1200px;
    height: 90vh;
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.sidebar {
    width: 20%;
    background-color: #262b5b; 
    color: white;
    padding: 20px;
}

.month h2 {
    margin: 0;
    padding: 0;
    text-align: center;
}

.calendar {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
    margin-top: 20px;
}

.day, .date, .empty {
    background-color: #ef7f1b; 
    color: black;
    text-align: center;
    padding: 10px 0;
    border-radius: 4px;
    cursor: pointer;
}

.date {
    background-color: white;
}

.date:hover {
    background-color: #ffa500;
}

.date.validato {
    background-color: red;
}

.date.parzComp {
    background-color: yellow;
}

.date.completo {
    background-color: green;
}

.main {
    width: 80%;
    padding: 20px;
}

.schedule {
    display: table;
    width: 100%;
    border-collapse: collapse;
}

.header, .row {
    display: table-row;
}

.cell {
    display: table-cell;
    padding: 10px;
    border: 1px solid #ccc;
    text-align: center;
}

.header .cell {
    background-color: #ef7f1b; 
    color: black;
    font-weight: bold;
}

.cell.time {
    background-color: #f0f0f0;
    font-weight: bold;
}

.cell.empty {
    background-color: #ef7f1b; 
    height: 100px; 
    width: 150px; 
}
