/* Pagina*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

@media only screen and (max-width: 550px) {
    


body {
    justify-content: center;
    min-height: 100vh;
    background: rgb(243, 243, 243);
}

.container-calendario {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    grid-gap: 0.5rem;
    grid-template-areas:
        "cal"
        "main"
        "event";
}


.calendario {
    grid-area: cal;
    
}

#eventi {
    background: white;
    grid-area: event;
}

main {
    background: white;
    grid-area: main;
    padding: 0.1rem;
}

#turni {
    display: grid;
    height: 100vh;
    width: 100%;
    grid-template-columns: 0.2fr 1fr 1fr 1fr;
    grid-template-rows: 0.25fr 0.2fr 0.2fr 1fr 1fr 1fr;
    grid-gap: 0.1rem;
    grid-template-areas:
        "data1 data1 data1 data1"
        "data2 data2 data2 data2"
        "spazio-vuoto soccoritore1 soccoritore2 autista"
        "mattina-label mattina1 mattina2 mattina3"
        "pomeriggio-label pomeriggio1 pomeriggio2 pomeriggio3"
        "notte-label notte1 notte2 notte3";
}

#calendario-data1 {
    grid-area: data1;
    background: #ef7f1b;
    padding: 1rem;
    color: white;

}

#calendario-data2 {
    grid-area: data2;
    background: #aeaeae;
    padding: 1rem;
    text-align: center;
    font-weight: 700;

}

#calendario-spazio-vuoto {
    grid-area: spazio-vuoto;
    background: #8b8b8b;
}

#calendario-soccoritore1 {
    grid-area: soccoritore1;
    background: #8b8b8b;
    padding: 1rem;
    color: white;
    text-align: center;



}

#calendario-soccoritore2 {
    grid-area: soccoritore2;
    background: #8b8b8b;
    padding: 1rem;
    color: white;
    text-align: center;



}

#calendario-autista {
    grid-area: autista;
    background: #8b8b8b;
    padding: 1rem;
    color: white;
    text-align: center;


}

#calendario-mattina-label {
    grid-area: mattina-label;
    background: #8b8b8b;
    padding: 0.2rem;
    color: white;
    text-align: center;


}

#calendario-pomeriggio-label {
    grid-area: pomeriggio-label;
    background: #8b8b8b;
    padding: 0.2rem;
    color: white;
    text-align: center;


}

#calendario-notte-label {
    grid-area: notte-label;
    background: #8b8b8b;
    padding: 0.2rem;
    color: white;
    text-align: center;

}

.calendario-cell {
    background: #FFB266;
    padding: 1rem;
    text-align: center;
}

#calendario-mattina1 {
    grid-area: mattina1;
}

#calendario-mattina2 {
    grid-area: mattina2;
}

#calendario-mattina3 {
    grid-area: mattina3;
}

#calendario-pomeriggio1 {
    grid-area: pomeriggio1;
}

#calendario-pomeriggio2 {
    grid-area: pomeriggio2;
}

#calendario-pomeriggio3 {
    grid-area: pomeriggio3;
}

#calendario-notte1 {
    grid-area: notte1;
}

#calendario-notte2 {
    grid-area: notte2;
}

#calendario-notte3 {
    grid-area: notte3;
}

/* Navbar per eventi e viaggi */
#calendario-navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ef7f1b;
    display: flex;
    justify-content: space-around;
}

.calendario-option {
    float: left;
    display: block;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    width: 100%;
    border: 1px solid #fff;
    transition: background-color 0.3s;
}

.calendario-option:hover {
    background-color: #a94f00;
}



/* Stabilisco le specifiche per il campo degli eventi/viaggi*/
#content {
    padding: 0.5rem;
}

/* bottone convalida */
.calendario-convalida {
    float: right;
    margin-top: 70%;
}

i {
    color: black
}



/*Calendario*/

.calendar-container {
    background-color: white;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    width: 350px;
    margin-left: 20px;
}

.calendar-header {
    background-color: #ef7f1b;
    color: white;
    text-align: center;
    padding: 10px 0;
}

.calendar {
    display: flex;
    flex-direction: column;
}

.day-names,
.days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.day-names div {
    background-color: #ef7f1b;
    color: white;
    padding: 10px 0;
    text-align: center;
    border: 1px solid #ef7f1b;
}

.days .day {
    padding: 15px;
    text-align: center;
    border: 1px solid #ddd;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.days .day:hover {
    background-color: #f0f0f0;
    color: black;
}

.days .day.empty {
    background-color: #f9f9f9;
    border: none;
    cursor: default;
}




.active{
    font-weight: 900;
    color: black;
}


.giorno-convalidato {
    background-color: rgba(0, 90, 33, 0.3);
}

.giorno-parziale {
    background-color: rgba(255, 255, 0, 0.5);
}

.giorno-occupato {
    background-color: rgba(237, 0, 0, 0.5);
}

/* Convalida */
@media only screen and (max-width: 550px) {
    .calendar-container {
      grid-template-columns: 1fr;
      grid-template-rows: 0.6fr 3.0fr 2.0fr 2.0fr 0.5fr;
      grid-template-areas:
        "calendar"
        "data1"
        "data2"
        "main"
        "content2";
      grid-gap: 0.2rem;
    }
  }
  
  #calendario-convalida {
    background-color: white;
    border:  #ef7f1b solid;
    padding: 50px;
  }
  
  /* Convalida */
  #salva {
    border-style: solid;
    border-color: green;
    background-color: rgb(3, 191, 3);
    width:100%;
    grid-area: salva;
  
  }
  
  
  
  #chiudi {
    border-style: solid;
    border-color: grey;
    background-color: rgb(179, 179, 179);
    width:100%;
    grid-area: chiudi;
  
  }
  
  #cancella {
    border-style: solid;
    border-color: red;
    background-color: rgb(208, 0, 0);
    width:100%;
    grid-area: cancella;
  
  }
  
  #bodyCovalida {
    justify-content: center;
    width: 100%;
    height: 100%;
  }
  
  #bodyCovalida, h2{
    color:#ef7f1b;
  }
  
  .inputs{
    border:  #ef7f1b 0.5px solid;
    outline: 0;
    width: 100%;
  }
}