html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.log-in {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.images-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.images-section .icona-ambulanza {
  width: 100%;
  max-width: 577px;
  height: auto;
  margin-bottom: 20px;
}

.images-section .LOGO-ambulanza {
  width: 100%;
  max-width: 244px;
  height: auto;
  margin-bottom: 80px;
}

.form-section {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 720px;
  height:100%;
  background-color: #ef7f1b;
  border-radius: 25px;
  padding: 20px;
  box-sizing: border-box;
}

.overlap-group {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.errore {
  width: 100%;
  max-width: 342px;
  background-color: #ef7f1b;
  display: flex;
  text-align: center;
  justify-content: center;
  padding: 10px;
  margin-bottom: 20px;
}

#h2Log {
  font-family: "Montserrat", Helvetica;
  font-weight: bold;
  color: #FF2800;
  font-size: 17px;
}

.bottone-accedi {
  width: 100%;
  background-color: #262b5b;
  border-radius: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  margin-bottom: 20px;
  cursor: pointer;
}

.text-wrapper-2 {
  width: 100%;
  text-align: center;
  font-family: var(--sotto-testi-font-family);
  font-weight: var(--sotto-testi-font-weight);
  color: #ffffff;
  font-size: var(--sotto-testi-font-size);
  background-color: transparent;
  border: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

.bottone-username, .div-wrapper {
  width: 100%;
  max-width: 342px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0px 2px 8px #00000040;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  margin-bottom: 20px;
}

.text-wrapper-3 {
  width: 100%;
  font-family: "Montserrat", Helvetica;
  font-weight: 400;
  color: black;
  font-size: 16px;
  border: none;
}

input[type=text], input[type=password]:focus {
  outline: none;
}
.formLog{
	min-width: 330px;
	max-width:330px;
}