@font-face {
  font-family: "Sonic";
  src: url("../fonts/sonic.ttf");
}
@font-face {
  font-family: "Cairo";
  src: url("../fonts/cairo.ttf");
}
* {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  font-family: "Cairo", sans-serif;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.container {
  height: 100%;
}

#grid-container {
  display: grid;
  grid-template-columns: 25% 75%;
  width: 100%;
  height: 100%;
}
#grid-container #calendar {
  margin: 1%;
  height: 98%;
}
#grid-container #main-content {
  height: 85%;
  margin: 1%;
}

#calendar-wrapper {
  border-radius: 5px;
  margin: 1%;
  background-color: rgba(128, 128, 128, 0.5);
}
#calendar-wrapper #calendar-header {
  display: flex;
  flex-direction: row;
  padding: 0 1rem;
}
#calendar-wrapper #calendar-header > * {
  padding: 0 0.25rem;
}
#calendar-wrapper #calendar-controls {
  display: grid;
  grid-template-columns: 10% 80% 10%;
  padding: 0 1rem;
}
#calendar-wrapper #calendar-controls > div {
  display: flex;
  align-items: center;
  justify-content: center;
}
#calendar-wrapper #calendar-controls > #prev-month,
#calendar-wrapper #calendar-controls #next-month {
  height: 50%;
  margin: auto 0;
  border-radius: 2.5px;
}
#calendar-wrapper #calendar-controls > #prev-month:hover,
#calendar-wrapper #calendar-controls #next-month:hover {
  background-color: rgba(128, 128, 128, 0.25);
}
#calendar-wrapper #calendar-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(6, 1fr);
  padding: 1rem;
}
#calendar-wrapper #calendar-grid .day {
  position: relative;
  text-align: center;
  border-radius: 5px;
}
#calendar-wrapper #calendar-grid .day:hover:not(.enabled) {
  background-color: rgba(128, 128, 128, 0.25);
}
#calendar-wrapper #calendar-grid .day.disabled {
  opacity: 0.5;
}
#calendar-wrapper #calendar-grid .day.enabled {
  background-color: rgba(128, 128, 128, 0.75);
}
#calendar-wrapper #calendar-grid .day.empty {
  display: none;
}
#calendar-wrapper #calendar-grid .red-dot {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 5px;
  height: 5px;
  background-color: red;
  border-radius: 50%;
}
#calendar-wrapper #calendar-grid .orange-dot {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 5px;
  height: 5px;
  background-color: orange;
  border-radius: 50%;
}
#calendar-wrapper #calendar-grid .green-dot {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 5px;
  height: 5px;
  background-color: green;
  border-radius: 50%;
}

#current-month-header {
  display: grid;
  grid-template-columns: 90% 5% 5%;
  border: 1px solid red;
  border-radius: 5px 5px 0 0;
}
#current-month-header #current-month-display {
  padding: 0 1%;
}
#current-month-header #current-month-display p {
  text-transform: uppercase;
}
#current-month-header #calendar-options,
#current-month-header #settings-options {
  display: flex;
  align-items: center;
  justify-content: center;
}

#schedule {
  display: grid;
  grid-template-rows: 10% 90%;
  height: 100%;
  border: 1px solid red;
  border-top: none;
  border-radius: 0 0 5px 5px;
}
#schedule #schedule-header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: gray;
}
#schedule #schedule-header #schedule-date {
  text-align: center;
  width: 100%;
}
#schedule #schedule-details {
  border-radius: 0 0 5px 5px;
  background-color: green;
  display: grid;
  grid-template-rows: 10% 30% 30% 30%;
  grid-template-columns: 10% 30% 30% 30%;
}
#schedule #schedule-details .time-slot {
  border: 1px solid black;
}
#schedule #schedule-details .role,
#schedule #schedule-details .shift,
#schedule #schedule-details .shift-detail {
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
#schedule #schedule-details .last-shift {
  border-radius: 0 0 0 5px;
}
#schedule #schedule-details .shift-detail {
  flex-direction: column;
}
#schedule #schedule-details .shift-detail:last-child {
  border-radius: 0 0 5px 0;
}

@media screen and (max-width: 768px) {
  #grid-container {
    grid-template-columns: 100%;
  }
  #grid-container #calendar {
    display: none;
  }
  #grid-container #main-content {
    height: 100%;
  }
  #calendar-wrapper #calendar-header {
    display: none;
  }
  #calendar-wrapper #calendar-controls {
    grid-template-columns: 10% 80% 10%;
  }
  #calendar-wrapper #calendar-controls #prev-month,
  #calendar-wrapper #calendar-controls #next-month {
    height: 50%;
    margin: auto 0;
    border-radius: 2.5px;
  }
  #calendar-wrapper #calendar-controls #prev-month:hover,
  #calendar-wrapper #calendar-controls #next-month:hover {
    background-color: rgba(128, 128, 128, 0.25);
  }
  #calendar-wrapper #calendar-grid {
    padding: 1rem;
  }
  #calendar-wrapper #calendar-grid .day {
    position: relative;
    text-align: center;
    border-radius: 5px;
  }
  #calendar-wrapper #calendar-grid .day:hover:not(.enabled) {
    background-color: rgba(128, 128, 128, 0.25);
  }
  #calendar-wrapper #calendar-grid .day.disabled {
    opacity: 0.5;
  }
  #calendar-wrapper #calendar-grid .day.enabled {
    background-color: rgba(128, 128, 128, 0.75);
  }
  #calendar-wrapper #calendar-grid .day.empty {
    display: none;
  }
  #calendar-wrapper #calendar-grid .red-dot {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 5px;
    height: 5px;
    background-color: red;
    border-radius: 50%;
  }
  #calendar-wrapper #calendar-grid .orange-dot {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 5px;
    height: 5px;
    background-color: orange;
    border-radius: 50%;
  }
  #calendar-wrapper #calendar-grid .green-dot {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 5px;
    height: 5px;
    background-color: green;
    border-radius: 50%;
  }
  #current-month-header {
    display: grid;
    grid-template-columns: 90% 5% 5%;
    border: 1px solid red;
    border-radius: 5px 5px 0 0;
  }
  #current-month-header #current-month-display {
    padding: 0 1%;
  }
  #current-month-header #current-month-display p {
    text-transform: uppercase;
  }
}/*# sourceMappingURL=index.css.map */