.log-in {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.log-in .div {
  background-color: #ffffff;
  overflow: hidden;
  width: 375px;
  height: 812px;
  position: relative;
}

.log-in .overlap-group {
  position: absolute;
  width: 375px;
  height: 492px;
  top: 384px;
  left: 0;
  background-color: #ef7f1b;
  border-radius: 15px;
}

.log-in .bottone-password {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 10px;
  position: absolute;
  top: 302px;
  left: 106px;
}

.log-in .text-wrapper {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Montserrat-Medium", Helvetica;
  font-weight: 500;
  color: #262b5b;
  font-size: 12px;
  letter-spacing: 0;
  line-height: normal;
}

.log-in .bottone-username {
  top: 84px;
  background-color: #ffffff;
  box-shadow: 0px 2px 8px #00000040;
  display: flex;
  width: 250px;
  height: 44px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 10px;
  position: absolute;
  left: 63px;
  border-radius: 8px;
}

.log-in .text-wrapper-2 {
  position: relative;
  flex: 1;
  font-family: "Montserrat-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
  margin: 0; 
  padding: 0; 
  cursor: pointer;
  background-color:transparent;
   border: 0px;
}

.log-in .div-wrapper {
  top: 153px;
  background-color: #ffffff;
  box-shadow: 0px 2px 8px #00000040;
  display: flex;
  width: 250px;
  height: 44px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 10px;
  position: absolute;
  left: 63px;
  border-radius: 8px;
}

.log-in .bottone-accedi {
  top: 227px;
  background-color: #262b5b;
  display: flex;
  width: 250px;
  height: 44px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 10px;
  position: absolute;
  left: 63px;
  border-radius: 8px;
}

.log-in .text-wrapper-3 {
  position: relative;
  width: fit-content;
  font-family: var(--sotto-testi-font-family);
  font-weight: var(--sotto-testi-font-weight);
  color: var(--grigio-pulsante);
  font-size: var(--sotto-testi-font-size);
  letter-spacing: var(--sotto-testi-letter-spacing);
  line-height: var(--sotto-testi-line-height);
  font-style: var(--sotto-testi-font-style);
  border:0px;
}

.log-in .icona-ambulanza {
  position: absolute;
  width: 303px;
  height: 193px;
  top: 191px;
  left: 36px;
}

.log-in .LOGO-ambulanza {
  position: absolute;
  width: 128px;
  height: 60px;
  top: 69px;
  left: 123px;
  object-fit: cover;
}

input[type=text], input[type=password]:focus {
	outline:none;
}
#h2Log {
    color: #e00;
    font-size: 16px;
    position: absolute;
    z-index: 1000;
    background-color: #ef7f1b;
    padding: 10px;
    max-width: 600px;
    width: auto;
    margin: 0 auto;
    left: 50%;
    top: 61%;
    transform: translateX(-50%);
    text-align: center;
    font-family: "Montserrat", Helvetica;
    font-weight: bold;
    white-space: nowrap;
}