.mobile {
  display: none;
}

.desktop {
  display: block;
}
.home {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.home .div {
  background-color: #ffffff;
  width: 1440px;
  height: 1024px;
  position: relative;
}

.home .LOGO-ambulanza {
  position: absolute;
  width: 165px;
  height: 77px;
  top: 35px;
  left: 67px;
  object-fit: cover;
}

.home .pulsante-contatti {
  left: 1132px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 10px;
  position: absolute;
  top: 51px;
}

.home .text-wrapper {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Montserrat", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.home .pulsante-log-out {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 10px;
  position: absolute;
  top: 51px;
  left: 1288px;
}

.home .pulsante-bacheca {
  left: 959px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 10px;
  position: absolute;
  top: 51px;
}

.home .pulsante-calendario {
  left: 764px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 10px;
  position: absolute;
  top: 51px;
}

.home .pulsante-profilo {
  left: 613px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 10px;
  position: absolute;
  top: 51px;
}

.home .overlap {
  position: absolute;
  width: 1440px;
  height: 514px;
  top: 136px;
  left: 0;
  background-color: #ef7f1b;
}

.home .TESTO {
  position: absolute;
  width: 448px;
  height: 273px;
  top: 132px;
  left: 67px;
}

.home .text-wrapper-2 {
  position: absolute;
  width: 444px;
  top: 0;
  left: 0;
  font-family: "Montserrat", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 96px;
  letter-spacing: 0;
  line-height: normal;
}

.home .text-wrapper-3 {
  position: absolute;
  width: 435px;
  top: 229px;
  left: 4px;
  font-family: "Montserrat", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.home .cuore {
  position: absolute;
  width: 961px;
  height: 311px;
  top: 113px;
  left: 479px;
}

.home .overlap-group {
  position: relative;
  height: 311px;
}

.home .icona-cuore {
  position: absolute;
  width: 720px;
  height: 311px;
  top: 0;
  left: 241px;
  object-fit: cover;
}

.home .line {
  position: absolute;
  width: 242px;
  height: 8px;
  top: 144px;
  left: 0;
}

.home .CALENDARIO {
  display: inline-flex;
  align-items: flex-start;
  gap: 10px;
  position: absolute;
  top: 735px;
  left: 67px;
}

.home .ellipse {
  position: relative;
  width: 219px;
  height: 219px;
  border-radius: 109.5px;
  border: 10px solid;
  border-color: #262b5b;
}

.home .icona-calendario {
  position: absolute;
  width: 73px;
  height: 73px;
  top: 53px;
  left: 74px;
}

.home .testo-calendario {
  position: absolute;
  top: 141px;
  left: 55px;
  font-family: "Montserrat", Helvetica;
  font-weight: 500;
  color: #262b5b;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.home .PROFILO {
  display: inline-flex;
  align-items: flex-start;
  gap: 10px;
  position: absolute;
  top: 735px;
  left: 429px;
}

.home .icona-profilo {
  position: absolute;
  width: 47px;
  height: 59px;
  top: 61px;
  left: 86px;
}

.home .testo-profilo {
  position: absolute;
  top: 142px;
  left: 77px;
  font-family: "Montserrat", Helvetica;
  font-weight: 500;
  color: #262b5b;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.home .BACHECA {
  display: inline-flex;
  align-items: flex-start;
  gap: 10px;
  position: absolute;
  top: 735px;
  left: 791px;
}

.home .icona-bacheca {
  position: absolute;
  width: 74px;
  height: 74px;
  top: 51px;
  left: 73px;
}

.home .testo-bacheca {
  position: absolute;
  top: 142px;
  left: 66px;
  font-family: "Montserrat", Helvetica;
  font-weight: 500;
  color: #262b5b;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.home .CONTATTI {
  display: inline-flex;
  align-items: flex-start;
  gap: 10px;
  position: absolute;
  top: 735px;
  left: 1153px;
}

.home .icona-messaggi {
  position: absolute;
  width: 65px;
  height: 58px;
  top: 60px;
  left: 77px;
}

.home .testo-contatti {
  position: absolute;
  top: 142px;
  left: 68px;
  font-family: "Montserrat", Helvetica;
  font-weight: 500;
  color: #262b5b;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}
