.mobile {
  display: block;
}

.desktop {
  display: none;
}
.home {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.home .div {
  background-color: #ffffff;
  width: 375px;
  height: 1008px;
  position: relative;
}

.home .profilo {
  position: absolute;
  width: 28px;
  height: 28px;
  top: 50px;
  left: 323px;
  object-fit: cover;
}

.home .titolo-home {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 10px;
  position: absolute;
  top: 40px;
  left: 146px;
}

.home .text-wrapper {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Montserrat", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.home .LOGO-ambulanza {
  position: absolute;
  width: 224px;
  height: 105px;
  top: 138px;
  left: 76px;
  object-fit: cover;
}

.home .hamburger {
  position: absolute;
  width: 22px;
  height: 13px;
  top: 56px;
  left: 24px;
}

.home .line {
  width: 22px;
  top: -1px;
  position: absolute;
  height: 1px;
  left: 0;
  object-fit: cover;
}

.home .img {
  width: 22px;
  top: 5px;
  position: absolute;
  height: 1px;
  left: 0;
  object-fit: cover;
}

.home .line-2 {
  width: 22px;
  top: 12px;
  position: absolute;
  height: 1px;
  left: 0;
  object-fit: cover;
}

.home .profilo-2 {
  display: flex;
  flex-direction: column;
  width: 156px;
  height: 156px;
  align-items: center;
  gap: 5px;
  padding: 34px 12px;
  position: absolute;
  top: 328px;
  left: 196px;
  background-color: var(--blu-testi-bottoni);
  border-radius: 16px;
  overflow: hidden;
}

.home .text-wrapper-2 {
  position: absolute;
  top: 112px;
  left: 45px;
  font-family: "Montserrat", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.home .group {
  position: relative;
  width: 39.85px;
  height: 50.36px;
}

.home .bacheca {
  display: flex;
  flex-direction: column;
  width: 156px;
  height: 156px;
  align-items: center;
  gap: 5px;
  padding: 24px 12px;
  position: absolute;
  top: 501px;
  left: 24px;
  background-color: var(--blu-testi-bottoni);
  border-radius: 16px;
  overflow: hidden;
}

.home .view-list {
  position: relative;
  width: 74px;
  height: 74px;
}

.home .text-wrapper-3 {
  position: absolute;
  top: 112px;
  left: 34px;
  font-family: "Montserrat", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.home .contatti {
  display: flex;
  flex-direction: column;
  width: 156px;
  height: 156px;
  align-items: center;
  gap: 10px;
  padding: 33px 4px 7px;
  position: absolute;
  top: 501px;
  left: 196px;
  background-color: var(--blu-testi-bottoni);
  border-radius: 16px;
  overflow: hidden;
}

.home .vector {
  position: relative;
  width: 65px;
  height: 58px;
}

.home .text-wrapper-4 {
  position: absolute;
  top: 112px;
  left: 36px;
  font-family: "Montserrat", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.home .celendario {
  display: flex;
  flex-direction: column;
  width: 156px;
  height: 156px;
  align-items: center;
  gap: 5px;
  padding: 24px 12px;
  position: absolute;
  top: 328px;
  left: 24px;
  background-color: var(--blu-testi-bottoni);
  border-radius: 16px;
  overflow: hidden;
}

.home .calender-date {
  position: relative;
  width: 73px;
  height: 73px;
}

.home .text-wrapper-5 {
  position: absolute;
  top: 112px;
  left: 23px;
  font-family: "Montserrat", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.home .i-MIEI-TURNI {
  position: absolute;
  width: 375px;
  height: 290px;
  top: 690px;
  left: 0;
}

.home .turno {
  height: 81px;
  align-items: center;
  justify-content: center;
  top: 44px;
  display: inline-flex;
  flex-direction: column;
  gap: 10px;
  position: absolute;
  left: 0;
}

.home .div-2 {
  display: flex;
  flex-direction: column;
  width: 375px;
  align-items: flex-start;
  gap: 10px;
  padding: 31px 49px 31px 25px;
  position: relative;
  flex: 0 0 auto;
  margin-top: -15.5px;
  margin-bottom: -15.5px;
  background-color: #ffffff;
}

.home .frame {
  display: inline-flex;
  justify-content: center;
  gap: 61px;
  align-items: flex-start;
  position: relative;
  flex: 0 0 auto;
}

.home .text-wrapper-6 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Montserrat", Helvetica;
  font-weight: 400;
  color: var(--blu-testi-bottoni);
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.home .text-wrapper-7 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Montserrat", Helvetica;
  font-weight: 400;
  color: var(--grigio-pulsante);
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.home .element-marzo-wrapper {
  height: 81px;
  align-items: flex-start;
  top: 126px;
  display: inline-flex;
  flex-direction: column;
  gap: 10px;
  position: absolute;
  left: 0;
}

.home .element-marzo {
  display: inline-flex;
  flex-direction: column;
  height: 81px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  position: relative;
}

.home .div-wrapper {
  align-items: flex-start;
  top: 208px;
  display: inline-flex;
  flex-direction: column;
  gap: 10px;
  position: absolute;
  left: 0;
}

.home .titolo-i-miei-turni {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 10px;
  position: absolute;
  top: 0;
  left: 16px;
}

.home .text-wrapper-8 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Montserrat", Helvetica;
  font-weight: 500;
  color: #262b5b;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.home .line-3 {
  width: 375px;
  top: 125px;
  position: absolute;
  height: 1px;
  left: 0;
  object-fit: cover;
}

.home .overlap-group {
  position: absolute;
  width: 375px;
  height: 1px;
  top: 207px;
  left: 0;
  background-image: url(./img/line-4-1.svg);
  background-size: cover;
  background-position: 50% 50%;
}

.home .line-4 {
  position: absolute;
  width: 375px;
  height: 1px;
  top: 0;
  left: 0;
  object-fit: cover;
}

.home .line-5 {
  position: absolute;
  width: 375px;
  height: 1px;
  top: 289px;
  left: 0;
  object-fit: cover;
}
