/* desktop */

.Mobile_Header{
	display:none;
}

.burger-menu {
    display:none;
}

.menu-mobile{
	display:none;
}

.header{
	display:block;

	position:relative;
	width:1370.64px;
	height:100px;
	left:10%;
	top:5px;
	flex-direction: row;
	justify-content: center;
}

.pulsanti{
	position:relative;
	display:inline-block;
	font-size:20px;
	text-align:right;
	left:41%;
	margin:1%;
	bottom:26%;
	font-family: "Montserrat", Helvetica;
	color: black;
}

.immagine-logo{
	width:200px;
	height:90px;
}