@media screen and (max-width: 768px) {
    #grid-container {
        grid-template-columns: 100%;

        #calendar {
            display: none;
        }

        #main-content {
            height: 100%;
        }
    }

    #calendar-wrapper {
        #calendar-header {
            display: none;
        }

        #calendar-controls {
            grid-template-columns: 10% 80% 10%;

            #prev-month,
            #next-month {
                height: 50%;
                margin: auto 0;
                border-radius: 2.5px;

                &:hover {
                    background-color: rgba(128, 128, 128, 0.25);
                }
            }
        }

        #calendar-grid {
            padding: 1rem;

            .day {
                position: relative;
                text-align: center;
                border-radius: 5px;

                &:hover:not(.enabled) {
                    background-color: rgba(128, 128, 128, 0.25);
                }

                &.disabled {
                    opacity: 0.5;
                }

                &.enabled {
                    background-color: rgba(128, 128, 128, 0.75);
                }

                &.empty {
                    display: none;
                }
            }

            .red-dot {
                position: absolute;
                top: 5px;
                right: 5px;
                width: 5px;
                height: 5px;
                background-color: red;
                border-radius: 50%;
            }

            .orange-dot {
                position: absolute;
                top: 5px;
                right: 5px;
                width: 5px;
                height: 5px;
                background-color: orange;
                border-radius: 50%;
            }

            .green-dot {
                position: absolute;
                top: 5px;
                right: 5px;
                width: 5px;
                height: 5px;
                background-color: green;
                border-radius: 50%;
            }
        }
    }

    #current-month-header {
        display: grid;
        grid-template-columns: 90% 5% 5%;
        border: 1px solid red;
        border-radius: 5px 5px 0 0;

        #current-month-display {
            padding: 0 1%;

            p {
                text-transform: uppercase;
            }
        }
    }
}