@font-face {
    font-family: "Sonic";
    src: url("../fonts/sonic.ttf");
}

@font-face {
    font-family: "Cairo";
    src: url("../fonts/cairo.ttf");
}

* {
    user-select: none;
    cursor: default;
    font-family: "Cairo", sans-serif;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.container {
    height: 100%;
}

#grid-container {
    display: grid;
    grid-template-columns: 25% 75%;
    width: 100%;
    height: 100%;

    >div {
        margin: 0.25rem;
    }

    #calendar {
        display: grid;
        grid-template-rows: 75% 25%;
        height: 98%;
    }

    #main-content {
        height: 85%;
    }
}

#calendar-wrapper {
    display: grid;
    grid-template-rows: 10% 10% 80%;
    border-radius: 5px;
    background: linear-gradient(to bottom right, transparent, #262b5b);

    #calendar-header {
        display: grid;
        grid-template-columns: 15% 85%;
        padding: 0 1rem;

        >div:first-child {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        >* {
            padding: 0 0.25rem;
        }
    }

    #calendar-controls {
        display: grid;
        grid-template-columns: 10% 80% 10%;
        padding: 0 1rem;

        >div {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        >#prev-month,
        #next-month {
            height: 50%;
            margin: auto 0;
            border-radius: 2.5px;

            &:hover {
                background-color: rgba(128, 128, 128, 0.25);
            }
        }
    }

    #calendar-grid {
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        grid-template-rows: repeat(5, 1fr);
        padding: 0.5rem 1rem;

        .day {
            position: relative;
            text-align: center;
            border-radius: 5px;
            margin: 0.05rem;
            height: 75%;

            &:hover:not(.enabled) {
                background-color: rgba(128, 128, 128, 0.25);
            }

            &.disabled {
                opacity: 0.5;

                >span {
                    display: none;
                }
            }

            &.enabled {
                background-color: rgba(128, 128, 128, 0.75);

                &:hover {
                    background-color: rgba(128, 128, 128, 0.5);
                }
            }
        }

        .red-dot {
            position: absolute;
            top: 5px;
            right: 5px;
            width: 5px;
            height: 5px;
            background-color: red;
            border-radius: 50%;
        }

        .orange-dot {
            position: absolute;
            top: 5px;
            right: 5px;
            width: 5px;
            height: 5px;
            background-color: orange;
            border-radius: 50%;
        }

        .green-dot {
            position: absolute;
            top: 5px;
            right: 5px;
            width: 5px;
            height: 5px;
            background-color: green;
            border-radius: 50%;
        }
    }
}

#current-month-header {
    display: grid;
    grid-template-columns: 90% 5% 5%;
    border: 1px solid black;
    border-radius: 5px 5px 0 0;

    #current-month-display {
        padding: 0 1%;

        p {
            text-transform: uppercase;
        }
    }

    #calendar-options,
    #settings-options {
        display: flex;
        align-items: center;
        justify-content: center;

        &:hover {
            background-color: rgba(128, 128, 128, 0.25);
        }
    }
}

#schedule {
    display: grid;
    grid-template-rows: 10% 90%;
    height: 100%;
    border-top: none;

    #schedule-header {
        display: grid;
        padding: 0.5rem;
        border-width: 1px 1px 0 1px;
        border-style: solid;
        border-color: black;
        grid-template-columns: 90% 5% 5%;
        border-radius: 5px 5px 0 0;
        background-color: #262b5b;

        >p {
            color: white;
            margin: 0;
            padding: 0;
        }

        >* {
            display: flex;
            align-items: center;
            border-radius: 5px;
            margin: 0 0.25rem;

            &:not(:first-child) {
                justify-content: center;
            }

            &:hover:not(:first-child) {
                background-color: rgba(128, 128, 128, 0.25);
            }
        }

        #schedule-date {
            text-transform: uppercase;
        }
    }

    #schedule-details {
        border-radius: 0 0 5px 5px;
        display: grid;
        grid-template-rows: 10% 30% 30% 30%;
        grid-template-columns: 10% 30% 30% 30%;

        >div {
            border: 1px solid black;
            position: relative;

            &:nth-child(n+5) {
                border-top: none;
            }

            &:nth-child(n):not(:nth-child(4n)) {
                border-right: none;
            }
        }

        & .notes {
            position: absolute;
            bottom: 0.5rem;
            right: 0.5rem;
        }

        .time-slot {}

        .role,
        .shift,
        .shift-detail {
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
        }

        .last-shift {
            border-radius: 0 0 0 5px;
        }

        .shift-detail {
            flex-direction: column;

            &:last-child {
                border-radius: 0 0 5px 0;
            }
        }
    }
}

textarea {
    margin: 0.5rem 0;
    resize: none;
    text-align: center;

    &:focus {
        outline: none;

        &::placeholder {
            color: transparent;
        }
    }

    width: 80%;
}

#notes-header {
    margin: 0;
    padding: 0;
}

textarea,
input {
    border: none;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.5);
}

#notes-form {
    display: flex;
    align-items: center;
    justify-content: center;
}

#notes-wrapper {
    background: linear-gradient(to bottom right, transparent, #ef7f1b);
    width: 100%;
    height: 95%;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}