:root {
  --grigio-pulsante: rgba(160, 160, 160, 1);
  --blu-testi-bottoni: rgba(38, 43, 91, 1);
  --arancio-sfondo: rgba(239, 127, 27, 1);
  --blackactivestatus: rgba(38, 38, 38, 1);
  --bianco: rgba(255, 255, 255, 1);
  --verde-icona: rgba(103, 208, 38, 1);
  --PULSANTI-font-family: "Montserrat", Helvetica;
  --PULSANTI-font-weight: 600;
  --PULSANTI-font-size: 24px;
  --PULSANTI-letter-spacing: 0px;
  --PULSANTI-line-height: normal;
  --PULSANTI-font-style: normal;  
  --sotto-testi-font-family: "Montserrat", Helvetica;
  --sotto-testi-font-weight: 400;
  --sotto-testi-font-size: 16px;
  --sotto-testi-letter-spacing: 0px;
  --sotto-testi-line-height: normal;
  --sotto-testi-font-style: normal;
  --testi-in-grasetto-font-family: "Montserrat", Helvetica;
  --testi-in-grasetto-font-weight: 400;
  --testi-in-grasetto-font-size: 16px;
  --testi-in-grasetto-letter-spacing: 0px;
  --testi-in-grasetto-line-height: normal;
  --testi-in-grasetto-font-style: normal;
  --NUMERI-CALENDARIO-font-family: "Montserrat", Helvetica;
  --NUMERI-CALENDARIO-font-weight: 500;
  --NUMERI-CALENDARIO-font-size: 20px;
  --NUMERI-CALENDARIO-letter-spacing: 0px;
  --NUMERI-CALENDARIO-line-height: normal;
  --NUMERI-CALENDARIO-font-style: normal;
  --MESI-CALENDARIO-font-family: "Montserrat", Helvetica;
  --MESI-CALENDARIO-font-weight: 700;
  --MESI-CALENDARIO-font-size: 20px;
  --MESI-CALENDARIO-letter-spacing: 0px;
  --MESI-CALENDARIO-line-height: normal;
  --MESI-CALENDARIO-font-style: normal;
  --pulsanti-font-family: "Montserrat", Helvetica;
  --pulsanti-weight: 500;
  --pulsanti-font-size: 20px;
  --pulsanti-letter-spacing: 0px;
  --pulsanti-line-height: normal;
  --pulsanti-font-style: normal;
  --montserrat-16pt-regular-font-family: "Montserrat", Helvetica;
  --montserrat-16pt-regular-font-weight: 400;
  --montserrat-16pt-regular-font-size: 16px;
  --montserrat-16pt-regular-letter-spacing: 0px;
  --montserrat-16pt-regular-line-height: normal;
  --montserrat-16pt-regular-font-style: normal;
}
