/*MOBILE*/

.profilo {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.profilo .div {
    background-color: #ffffff;
    width: 375px;
    height: 812px;
    position: relative;
}

.profilo .titolo-profilo {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px;
    position: absolute;
    top: 40px;
    left: 148px;
}

.profilo .text-wrapper {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: "Montserrat-Medium", Helvetica;
    font-weight: 500;
    color: #000000;
    font-size: 20px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
}

.profilo .freccia-dx {
    display: inline-flex;
    align-items: flex-start;
    gap: 10px;
    position: absolute;
    top: 46px;
    left: 24px;
    transform: rotate(180deg);
}

.profilo .ellipse {
    position: relative;
    width: 32px;
    height: 32px;
    background-color: #f5f5f533;
    border-radius: 16px;
}

.profilo .vector {
    position: absolute;
    width: 9px;
    height: 16px;
    top: 8px;
    left: 13px;
    transform: rotate(-180deg);
}

.profilo .img {
    position: absolute;
    width: 60px;
    height: 60px;
    top: 145px;
    left: 82px;
    object-fit: cover;
}

.profilo .text-wrapper-2 {
    position: absolute;
    top: 212px;
    left: 65px;
    font-family: "Montserrat-Regular", Helvetica;
    font-weight: 400;
    color: #262b5b;
    font-size: 16px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
}

.profilo .ellipse-2 {
    position: absolute;
    width: 60px;
    height: 60px;
    top: 145px;
    left: 235px;
    object-fit: cover;
}

.profilo .text-wrapper-3 {
    position: absolute;
    top: 212px;
    left: 216px;
    font-family: "Montserrat-Regular", Helvetica;
    font-weight: 400;
    color: #262b5b;
    font-size: 16px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
}

.profilo .ellipse-3 {
    position: absolute;
    width: 60px;
    height: 60px;
    top: 274px;
    left: 82px;
    object-fit: cover;
}

.profilo .text-wrapper-4 {
    top: 341px;
    left: 56px;
    position: absolute;
    font-family: "Montserrat-Regular", Helvetica;
    font-weight: 400;
    color: #262b5b;
    font-size: 16px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
}

.profilo .ellipse-4 {
    position: absolute;
    width: 60px;
    height: 60px;
    top: 274px;
    left: 235px;
    object-fit: cover;
}

.profilo .text-wrapper-5 {
    top: 341px;
    left: 209px;
    position: absolute;
    font-family: "Montserrat-Regular", Helvetica;
    font-weight: 400;
    color: #262b5b;
    font-size: 16px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
}

.profilo .ellipse-5 {
    position: absolute;
    width: 60px;
    height: 60px;
    top: 397px;
    left: 82px;
    object-fit: cover;
}

.profilo .text-wrapper-6 {
    position: absolute;
    top: 464px;
    left: 63px;
    font-family: "Montserrat-Regular", Helvetica;
    font-weight: 400;
    color: #262b5b;
    font-size: 16px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
}

.profilo .ellipse-6 {
    position: absolute;
    width: 60px;
    height: 60px;
    top: 397px;
    left: 235px;
    object-fit: cover;
}

.profilo .text-wrapper-7 {
    top: 464px;
    left: 209px;
    position: absolute;
    font-family: "Montserrat-Regular", Helvetica;
    font-weight: 400;
    color: #262b5b;
    font-size: 16px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
}

.profilo .ellipse-7 {
    position: absolute;
    width: 60px;
    height: 60px;
    top: 526px;
    left: 82px;
    object-fit: cover;
}

.profilo .text-wrapper-8 {
    top: 593px;
    left: 49px;
    position: absolute;
    font-family: "Montserrat-Regular", Helvetica;
    font-weight: 400;
    color: #262b5b;
    font-size: 16px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
}

.profilo .ellipse-8 {
    position: absolute;
    width: 60px;
    height: 60px;
    top: 526px;
    left: 235px;
    object-fit: cover;
}

.profilo .text-wrapper-9 {
    top: 593px;
    left: 197px;
    position: absolute;
    font-family: "Montserrat-Regular", Helvetica;
    font-weight: 400;
    color: #262b5b;
    font-size: 16px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
}

.profilo .ellipse-9 {
    position: absolute;
    width: 60px;
    height: 60px;
    top: 655px;
    left: 82px;
    object-fit: cover;
}

.profilo .text-wrapper-10 {
    position: absolute;
    top: 722px;
    left: 60px;
    font-family: "Montserrat-Regular", Helvetica;
    font-weight: 400;
    color: #262b5b;
    font-size: 16px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
}

.profilo .ellipse-10 {
    position: absolute;
    width: 60px;
    height: 60px;
    top: 655px;
    left: 235px;
    object-fit: cover;
}

.profilo .text-wrapper-11 {
    position: absolute;
    top: 722px;
    left: 213px;
    font-family: "Montserrat-Regular", Helvetica;
    font-weight: 400;
    color: #262b5b;
    font-size: 16px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
}

.top-menu {
	display: block;
	position: fixed;
	width: 50%;
	max-height: 10vh;
	top:0;
	border-top-style: solid;
}

.burger-menu {
    position: fixed;
    width: 27px;
    height: 27px;
	top:50px;
    right: 120px;
}

.show-burger {
	width: 150% !important;
	height: 150% !important;
	padding-left: 50% !important;
}

#menu-mobile-box {
  position: fixed;
  top: 0;
  right: 0;
  width: 0vh;
  height: 0%;
  border-bottom-left-radius: 100%;
  background-color: #060606ca;
  margin: 0;
  padding: 10vh 0 0 0;
  text-align: center;
  line-height: 10vh;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  z-index:1;
}

#menu-mobile-box ul {
	list-style-type:none;
	padding:0;
}

#menu-mobile-box a {
  font-size: 2em;
  font-family: "Montserrat-Regular", Helvetica;
  color: #FFFFFF;
  text-decoration: none;
}

#menu-mobile-box a:visited {
  color: #FFFFFF;
  text-decoration: none;
}

#menu-mobile-box a:hover {
  color: #FFFFFF;
  text-decoration: none;
}